<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBXeLPoQA-ajsdsxgvjXD_kRpVtrRDyic</string>
	<key>GCM_SENDER_ID</key>
	<string>650303885415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karanarjuntechnologies.krishidukan</string>
	<key>PROJECT_ID</key>
	<string>krishidukan-e8315</string>
	<key>STORAGE_BUCKET</key>
	<string>krishidukan-e8315.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650303885415:ios:c0db03e9833fbd7e2b84c2</string>
</dict>
</plist>